<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="@zolibra">

  <title>潮白风云足球</title>
  <style>
    body {
      padding-top: 30px;
      text-align: center;
    }
    body img {
      margin: 20px auto;
    }
  </style>
</head>
<body>
<h2>微信公众帐号</h2>
<h1>潮白风云足球（微信号cbfyzq）</h1>
<p>by <a target="_blank" href="http://weibo.com/cbfy">@潮白风云足球</a></p>
<img src="/static/img/qrcode.jpg">
</body>
</html>